@import './reset.css';

@mixin flexDisplay($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

body{
  @include flexDisplay(column, center, flex-start);

  table{
    border: 1px solid #000;
    width: auto;
    margin: 10px;
    padding: 10px;
    th{
      font-size: 20px;
      font-weight: 700;
    }
    tr{
      td{
        border: 1px solid #000;
        padding: 10px;

      }
    }
  }
}